body{
    background: #222;
    color: #ee6;
}
h1{
    text-align: center;
    
}
p{
    font-family: sans-serif;
}
h3,h2{
    color: #eee;
}
strong{
border-bottom: 1px  solid #eee;
}
span.the-force{
    background: #444;
    font-weight: 700;
}
span.light-side{
    color: #66f
}
span.dark-side{
    color: #f33;
}
#og-trilogy{
   list-style-type: circle;
}
.movies-list.segunda-lista{
    padding-left: 50px;
}
.tercer-lista.movies-list{
    margin-top: 50px;
}



h3{
    text-transform: uppercase;
}
p:first-of-type::first-line{
    color: #efe;
}

h1:hover{
    color: #66f;
}
a:visited{
    color: #5f5c5c;
}
/* a {
    font-style: italic;
  }
*/

